## Example use of GMM class

I&rsquo;ve turned the code we developed last week into a class.  Here&rsquo;s a
simple example which  estimates a Mincer wage regression using data
from Angrist-Krueger (1991):

In [1]:
import pandas as pd

ak = pd.read_stata('angrist-krueger91.dta')

y = ak.logwage
X = ak[['ageq','edu','married']]
X['Constant'] = 1

<ipython-input-1-05045ac646e0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Constant'] = 1

Next we define a function that has the property that it&rsquo;s expected
value at a true vector of parameters is equal to zero.  First, just a
simple Mincer wage regression:

In [2]:
def linear_regression(b,data):
    """
    Return matrix X.T*e (ell x N)
    """
    y,X=data
    e = y - X@b

    return (X.T*e).T

Import the GMM class

In [3]:
from GMM_class import GMM

GMM?

Now instantiate the GMM problem for this restriction, using the
Angrist-Krueger data.

In [4]:
ak = GMM(linear_regression,(y,X),4)

In [5]:
ak.two_step_gmm()

(array([4.11946995e-03, 7.03840485e-02, 2.54831821e-01, 4.59587700e+00]),
 2.1808508760239868e-05)

In [7]:
X

         ageq  edu  married  Constant
0       47.00   12        1         1
1       46.25   12        1         1
2       50.00   12        1         1
3       47.00   16        1         1
4       42.25   14        1         1
...       ...  ...      ...       ...
329504  42.50   10        1         1
329505  42.00   12        1         1
329506  41.00   12        1         1
329507  47.25   12        1         1
329508  48.50   13        1         1

[329509 rows x 4 columns]